/*ul:before {
    content: "";
    border: 1px solid #000;
    position: absolute;
    height: 41px;
    left: 65px;
    top: 128px;
}
!*ul > li > ul > li:before {
    content: "";
    border: 1px solid #000;
    position: absolute;
    height: 41px;
    left: 65px;
    top: 128px;
}
ul > li:after {
    content: "";
    border: 1px solid #000;
    position: absolute;
    width: 24px;
    left: 66px;
    top: 169px;
}*!
ul:after {
    content: "";
    border: 1px solid #000;
    position: absolute;
    width: 24px;
    left: 66px;
    top: 169px;
}
*/
ul {
    position: relative;
}


/* LIST #5 */
ul { font-size:18px; list-style: none}
ul li {  }
/*ul li ul { list-style-image: url("http://demo.marcofolio.net/css_lists/images/nested.png"); padding:5px 0 5px 18px; font-size:15px; }*/
ul li ul li {  margin-left:10px; position: relative }

ul li ul:before {
    content: "";
    border-left: 1px solid #000;
    position: absolute;
    height: 102%;
    left: 35px;
    top: -9px;
}
ul > li  > div li div:before {
    content: "";
    border: 1px solid #000;
    position: absolute;
    width: 22px;
    left: -14px;
    top: 29px;
}